.page-header
  - if params[:q]
    %h1
      Searching near
      = params[:q]
  - else
    %h1 
      Mentioned recently

= render partial: 'layouts/map', locals: {markers: @markers, center: @center}

%form.form-search{action: '/mentions', method: 'GET'}
  %input.input-medium.search-query{type: 'text', id: 'q', name:'q', placeholder: 'Enter a place name', value: params[:q]}
  %select{id: 'range', name: 'range'}
    %option{value: '1.0'} ~100km
    %option{value: '0.55', selected: 'true'} ~50km
    %option{value: '0.26'} ~25km
    %option{value: '0.13'} ~15km
    %option{value: '0.07'} ~7.5km
  %button.btn{type:'submit'} Search
%ul
  - for m in @mentions
    %li
      = link_to_mention(m)
      = distance_of_time_in_words(Time.now, m.finish)
      ago on
      = m.channel.name

.well
  %h4 Like your data in JSON?
  %p
    Simply append .json to this URL to GET our API. There are optional start and finish parameters, too, which must contain ISO 8601 datetime strings.
  %p
    For instance:
    %br
    %code= link_to '/mentions.json', '/mentions.json'
  %p
    And a more complex example with dates:
    %br
    %code= link_to '/mentions.json?start=2013-01-24T13:00Z&finish=2013-01-24T14:00Z', '/mentions.json?start=2013-01-24T13:00Z&finish=2013-01-24T14:00Z'